div(ng-controller="SearchCtrl")

  input.form-control(
    autofocus,
    type="text", 
    ng-model="search", 
    ng-model-options="{debounce: {default: 2000}}"
  )

  .row
    .col-xs-12.text-center.text-muted
      h3(ng-show="!search") What would you like me to play?
      h3(ng-show="maxResults() === 0") No results found

  div(ng-show="search && !data")
    .row
      .col-xs-12.text-center
        h3.text-muted
          span.fa.fa-spin.fa-spinner

  div(ng-show="search && data")
    .row
      .col-xs-4.text-center
        h3 Artists    
        div(ng-repeat="artist in data.artists.items | limitTo:results.limit")
          sp-spotify-tile(
            on-enqueue="enqueueArtist(artist.uri)",
            on-play="playArtist(album.uri)",
            img="artist.images[2].url",
            text="artist.name",
            sub-text=""
          )
      .col-xs-4.text-center
        h3 Albums
        div(ng-repeat="album in data.albums.items | limitTo:results.limit")
          sp-spotify-tile(
            on-enqueue="enqueueAlbum(album.uri)",
            on-play="playAlbum(album.uri)",
            img="album.images[2].url",
            text="album.name",
            sub-text="album.artist.name"
          )

      .col-xs-4.text-center
        h3 Tracks
        div(ng-repeat="track in data.tracks.items | limitTo:results.limit")
          sp-spotify-tile(
            on-enqueue="enqueue(track.uri)",
            on-play="play(track.uri)",
            img="track.album.images[2].url",
            text="track.name",
            sub-text="track.artists | spSpotifyArtists"
          )
    .row
      .col-xs-12
        button.btn.btn-block.btn-primary(
          ng-show="results.limit < maxResults()"
          ng-click="results.limit + 10")
          | More...
  pre {{ data | json }}
