div(ng-controller="SearchCtrl")

  input.form-control(
    autofocus,
    type="text", 
    ng-model="search", 
    ng-model-options="{debounce: {default: 2000}}"
  )

  .row
    .col-xs-12.text-center.text-muted
      h3(ng-show="!search") What would you like me to play?
      h3(ng-show="maxResults() === 0") No results found

  div(ng-show="search && !data")
    .row
      .col-xs-12.text-center
        h3.text-muted
          span.fa.fa-spin.fa-spinner

  div(ng-show="search && data")
    .row
      .col-xs-4.text-center
        h3 Artists    
        div(ng-repeat="artist in data.artists.items | limitTo:results.limit")
          a(ng-click="enqueueArtist(artist.uri)")
            img(ng-src="{{artist.images[2].url}}")
          h4
            a(ng-click="playArtist(album.uri)")
              span.fa.fa-fw.fa-play
            a(ng-click="enqueueArtist(track.uri)")
              span.fa.fa-fw.fa-plus
            | {{artist.name}}

      .col-xs-4.text-center
        h3 Albums
        div(ng-repeat="album in data.albums.items | limitTo:results.limit")
          a(ng-click="enqueueAlbum(album.uri)")
            img(ng-src="{{album.images[2].url}}")
          h4
            a(ng-click="playAlbum(album.uri)")
              span.fa.fa-fw.fa-play
            a(ng-click="enqueueAlbum(track.uri)")
              span.fa.fa-fw.fa-plus
            | {{album.name}}
          h5.text-muted
            | {{ album.artist.name }}, 

      .col-xs-4.text-center
        h3 Tracks
        div(ng-repeat="track in data.tracks.items | limitTo:results.limit")
          a(ng-click="enqueue(track.uri)")
            img(ng-src="{{track.album.images[2].url}}")
          h4
            a(ng-click="play(track.uri)")
              span.fa.fa-fw.fa-play
            a(ng-click="enqueue(track.uri)")
              span.fa.fa-fw.fa-plus
            | {{track.name}}
          h5.text-muted
            span(ng-repeat="artist in track.artists")
              | {{ artist.name }}, 
    .row
      .col-xs-12
        button.btn.btn-block.btn-primary(
          ng-show="results.limit < maxResults()"
          ng-click="results.limit + 10")
          | More...
  pre {{ data | json }}
